<main class="flex justify-center bg-neutral-600 mb-6">
    <div
      class="flex lg:flex-row sm:flex-col flex-col lg:justify-evenly justify-center bg-cyan-900 w-4/5"
    >
      <div class="flex items-center lg:p-12 sm:p-6 animate-fade-up animate-once">
        <h1 class="text-4xl text-center text-yellow-300 font-bold lg:mb-10">
          FRAMEWORKS
        </h1>
      </div>
      <picture class="flex justify-center">
        <img
          class="w-96 drop-shadow-[0_45px_45px_rgba(255,255,255,0.25)] p-4 animate-fade-left"
          src="../assets/frameworks.png"
          alt=""
        />
      </picture>
    </div>
  </main>
  <div>
    <p class="text-xl text-neutral-600 px-12 animate-fade-up animate-once">
      Los frameworks son tecnologías diseñadas que brindas bases para la creación de proyectos de carácter o con objetivos específicos,
      su propósito es facilitar el desarrollo brindando simplicidad ayudando a optimizar tiempos de trabajo, promoviendo el trabajo colaborativo,
      mejorando la arquitectura de los proyectos para obtener resultados de calidad. Podemos encontrar frameworks para todo tipo de desarrollo dependiendo su propósito 
      y el lenguaje al que este orientado. En esta oportunidad hablaremos de uno especialmente utilizado para el desarrollo web con alta demanda por el sector empresarial 
      y sistemas financieros.   
 
      <br /><br />
    </p>
  </div>
 <article class="bg-neutral-900 text-neutral-200 p-12">
    <picture class="flex justify-center mb-6">
        <img class="w-96 rounded-lg " src="../assets/angular-logo.png" alt="">
    </picture>

    <p>
      Angular es un framework para desarrollo web que permite la creación eficiente de aplicaciones escalables,
      cuenta con gran cantidad de librerías y herramientas disponibles para que los desarrolladores puedan optimizar su flujo de trabajo.
      <br><br>
      Siendo un framework basado en componentes permite no solo mejorar la calidad de nuestro código si no también permite la optimización de recurso 
      con la reutilización de elementos.
      En este articulo no vamos profundizar sobre el framework solo algunos aspectos importantes, si deseas aprender y adentrarte en él, puedes visitar su documentación 
      oficial con su versión más reciente 
<a class="text-cyan-600" href="https://angular.dev/">aquí.</a>
    </p>

    <h2 class="text-3xl font-bold text-neutral-300 p-6">Información adicional</h2>
    <div class="flex lg:flex-row flex-col-reverse mb-4">
        <div class="flex justify-center lg:pr-6">
            <img class="lg:w-96 w-48" src="../assets/ts.png" alt="">
        </div>
        <p class="align-middle">
            Angular está construido con <span class="text-cyan-600">TypeScript</span> y su documentación y herramientas están orientadas a TypeScript. Esto significa que obtienes una experiencia más coherente y optimizada cuando usas TypeScript con Angular.
            Contexto: TypeScript es un lenguaje derivado de JavaScript proporciona un sistema de tipos estáticos que ayuda a detectar errores en tiempo de compilación, antes de que el código se ejecute en el navegador, y puedes obtener un desarrollo mas robusto, eficiente y seguro.
    
        </p>
    </div>


    <div class="lg:flex flex-row mb-4">        
        <p class="align-middle">
            La<span class="text-cyan-600">Reactividad</span>es un concepto con el que se trabajara mucho en Angular, y basicamente hace referencia a la capacidad que tiene el framwork para detectar cambios de estado y datos y poder brindar una respuesta de manera eficiente a los mismos. Se puede identificar en lo que dentro del framework se conoce como formularios reactivos, o tambien al realizar peticiones mediante servicios al servidor. Al hablar de reactiviadad una de las librerias mas populares es RxJs.    
        </p>
        <picture class="flex justify-center lg:pr-6 ">
            <img class="lg:w-96 w-48" src="../assets/rxjs.png" alt="">
        </picture>
    </div>

    <div class="lg:flex lg:flex-row-reverse mb-4">        
        <p class="align-middle">
            <span class="text-cyan-600">Angular Material</span> es una de las librerias con las que cuenta Angular, permite poder obtener componentes ya construidos para facilitar y optimizar el desarrollo de aplicaciones, entre estos encuentras tipos de input, tablas, paginadores, cards entre otros, en su documentacion se puede ver como incorporarlos al proyecto con instructivos faciles de comprender.    
        </p>
        <picture class="flex justify-center lg:pr-6 ">
            <img class="lg:w-80 w-48" src="../assets/material.png" alt="">
        </picture>
    </div>
  
 </article>