<article class="bg-neutral-200 p-12">
    <h2 class="text-3xl font-bold text-cyan-600 p-6">CSS</h2>
    <p>
      CSS es un lenguaje de estilos en cascada que se utiliza para definir la
      presentación de los documentos HTML. Su primera versión apareció en
      <span>1996</span> y desde entonces a evolucionado a versiones CSS 1, CSS 2 y
      la más actualizada y aun en estado de evolución CSS 3. El termino cascada
      básicamente nos da a entender que es importante el orden en que aplicamos
      los estilos. Se pueden aplicar directamente estilos desde nuestro archivo
      html utilizando la etiqueta
      <span class="text-cyan-600">&lt;stylel&gt;</span> dentro del
      <span class="text-cyan-600">&lt;head&gt;</span> tambien ubicando los estilos
      en línea dentro elemento mediante el atributo style="" ubicado en la
      etiqueta de apertura del elemento y como en un archivo independiente de
      extensión .css para brindar mejor estructura en la arquitectura de nuestro
      proyecto. <br /><br />

      <picture class="flex justify-center">
        <img
          class="w-48 drop-shadow-[0_45px_45px_rgba(0,255,255,0.5)]"
          src="../assets/css.png"
          alt=""
        />
      </picture>
    </p>
  
    <h3 class="text-2xl font-semibold text-cyan-600 p-6">
      Anatomía de un selector CSS
    </h3>
    <p>
      <span class="text-cyan-600">h1</span> {{ "{" }}
      <br />
      color: red;<br />{{ "}" }}
  
      <br /><br />
      <span class="text-cyan-600">h1</span> es el selector, color:red; es la
      propiedad y red; es el valor de la propiedad.
    </p>
  
    <br /><br />
    <h3 class="text-2xl font-semibold text-cyan-600 p-6">
      Tipos de selectores en CSS
    </h3>
    <p>
      El selector en css básicamente nos ayuda a identificar el elemento al cual
      deseamos aplicar el estilos.
      <br /><br />
      <span class="text-cyan-600">Selector universal * </span>: Aplica o define
      estilo para ciertas propiedades generales en todo nuestra página.
      <br /><br />
      <span class="text-cyan-600">Selector de etiqueta </span>: Aplica o define
      estilo para ciertas etiquetas en toda nuestra página. <br /><br />
      <span class="text-cyan-600">Selector de clase </span>: Aplica o define
      estilo para ciertas clases en todo nuestra pagina.La clase se define en la
      etiqueta de apertura html con el atributo class="".
      <span class="text-cyan-600">&lt;h1 class="titulo"&gt;</span>, el nombre de
      la clase pude utilizarse en varios elementos html por lo cual facilita
      aplicar el mismo estilo a distindos elementos sin tener que escribir muchas
      lineas dentro de nuetro css para cada uno por separado. <br /><br />
      <span class="text-cyan-600">Selector de id </span>: Aplica o define estilo
      para un id en nuestra pagina.El id se define en la etiqueta de apertura html
      con el atributo id="".
      <span class="text-cyan-600">&lt;h1 class="titulo" id="principal"&gt;</span>,
      Cabe aclarar que el id es unico y solo se aplica a un solo elemento html.
      <br /><br />
      <span class="text-cyan-600">Selector de atributo </span>: Aplica o define
      estilo para ciertos atributos en todo nuestra página. a[href="#"] selecciona
      todos los enlaces con el atributo href igual a #.

    </p>
  
    <br /><br />
    <h3 class="text-2xl font-semibold text-cyan-600 p-6">
      Estilos que puedes aplicar
    </h3>
    <p>
      CSS cuenta con una gran variedad de propiedades que puedes aplicar para que
      la página o aplicación sea atractiva para el usuario o cliente final, puede
      cambiar los tipos de fuentes de tu letra, los tamaños de contenedores y sus
      márgenes, colores, animaciones, realmente todo cabe en la imaginación,
      puedes obtener la guía completa de estilos accediendo a la documentación
      oficial.
    </p>
    <br /><br />
    <h3 class="text-2xl font-semibold text-cyan-600 p-6">
      Ubicación de los Elementos
    </h3>
    <p>
      Un aspecto importante en el diseño de nuestra página o aplicación web es la
      forma en que presentamos nuestros elementos, su ubicación en el espacio de
      la página para dar una presentación armoniosa para lo cual explicaremos 3
      conceptos claves.

    </p>
    <br /><br />
  
    <div class="lg:flex lg:flex-row md:flex-row justify-evenly flex-col">
      <div>
        <h3 class="text-2xl font-semibold text-cyan-600 p-6">Box Model</h3>
        <p>
          En CSS, todo elemento se representa como una caja rectangular. Esta caja
          tiene cuatro partes principales:
          <br /><br />
          <span class="text-cyan-600">El contenido</span>:El contenido del
          elemento pude ser texto, imagenes etc.
          <br /><br>
          <span class="text-cyan-600">El borde</span>:Es la linea que rodea el
          contenido y relleno del contenedor.
          <br /><br>
          <span class="text-cyan-600">El padding</span>:Es el espacio entre el
          contenido y el borde.
          <br /><br>
          <span class="text-cyan-600">El margen</span>: la distancia el elemento y
          elementos cercanos.
          <br />
        </p>
      </div>
  
      <div class="flex justify-center">
        <img class="lg:w-80 mt-6 w-48" src="../assets/box-model.PNG" alt="" />
      </div>
    </div>
  
    <div class="lg:flex lg:flex-row justify-evenly flex-col">
      <div>
        <h3 class="text-2xl font-semibold text-cyan-600 p-6">Flex box</h3>
        <p>
          El flexbox es un sistema de posicionamiento que permite alinear y
          distribuir los elementos en una fila o columna.
          <br /><br />
          <span class="text-cyan-600">flex-direction</span>: Define la
          direccion en la que se alinean los elementos.
          <br /><br />
          <span class="text-cyan-600">justify-content</span>: Define la
          alineacion horizontal de los elementos.
          <br /><br />
          <span class="text-cyan-600">align-items</span>: Define la
          alineacion vertical de los elementos.
          <br /><br />
          <span class="text-cyan-600">align-content</span>: Define la
          alineacion vertical de los elementos.
          <br />
        </p>
      </div>  
      <div class="flex justify-center">
        <img class="lg:w-80 mt-6 w-48" src="../assets/flex.svg" alt="" />
      </div> 
    </div>
  
    <div class="lg:flex lg:flex-row justify-evenly flex-col">
      <div>
        <h3 class="text-2xl font-semibold text-cyan-600 p-6">CSS Grid</h3>
        <p>
          El grid es un sistema de posicionamiento que permite alinear y
          distribuir los elementos en una fila o columna.
          <br /><br />
          <span class="text-cyan-600">grid-template-columns</span>: Define la 
          cantidad de columnas.
          <br /><br />
          <span class="text-cyan-600">grid-template-rows</span>: Define la
          cantidad de filas.
          <br /><br />
          <span class="text-cyan-600">grid-template-areas</span>: Define la
          ubicacion de los elementos.
          <br /><br />
          <span class="text-cyan-600">grid-gap</span>: Define el espacio entre
          los elementos.
          <br />
        </p>
      </div>   
      <div class="flex justify-center">
        <img class="lg:w-80 mt-6 w-48" src="../assets/grid.svg" alt="" />
      </div>
    </div>
  
  </article>
  
