<article class="bg-cyan-900 text-neutral-200 p-12">
    <h2 class="text-3xl font-bold text-yellow-300 p-6">HTML</h2>
    <p>
      HTML es un lenguaje de marcado de hipertexto que se utipreza para describir
      el contenido de una página web. Su primera version aparecion en
      <span>1991</span> y desde entonces a evoluvionado a versiones HTML 3.0, HTML
      4.0, y la mas actualizada y aun en estado de evolucion HTMl 5 Con HTML,
      puedes definir los elementos como encabezados, párrafos, imágenes, enlaces y
      formularios. Básicamente, HTML establece qué contenido se muestra en la
      página. <br /><br />
      <picture class="flex justify-center">
        <img
          class="w-48 drop-shadow-[0_45px_45px_rgba(241,101,41,0.5)]"
          src="../assets/html.png"
          alt=""
        />
      </picture>
    </p>
  
    <h3 class="text-2xl font-semibold text-yellow-300 p-6">
      Estructura de un HTML
    </h3>
    <p>
      Este tipo de lenguaje de marcado utipreza etiquetas que permiten identificar
      los elementos que se incorporaran a tu apprecación y se identifican por
      tener una apertura <span class="text-yellow-300">&lt;article&gt;</span> y un
      cierre <span class="text-yellow-300">&lt;/article&gt;</span> aunque hay
      algunas excepciones. Ahora bien expprecaremos la base inicial de un
      documento HTML. <br /><br />
      <span class="text-yellow-300">&lt;!DOCTYPE html&gt;</span>:Esta etiqueta
      simplemente tiene la funcion de especificar el tipo de documento, se ubica
      al inicio de la estructura y no cuenta con etiqueta de cierre. <br /><br />
      <span class="text-yellow-300">&lt;html&gt;</span>: Con esta etiqueta se
      define la apertura y cierre de nuestro html, adicional que en el se puden
      ubicar atributos importantes por ejemplo especificar el idioma del
      contenido. <br /><br />
      <span class="text-yellow-300">&lt;head&gt;</span>:Esta etiqueta contiene los
      metadatos de la página, como el título, el autor, la descripción, etc. Se
      ubica dentro de la etiqueta
      <span class="text-yellow-300">&lt;html&gt;</span> <br /><br />
      <span class="text-yellow-300">&lt;title&gt;</span>: Esta etiqueta contiene
      el título de la página, se ubica dentro de la etiqueta
      <span class="text-yellow-300">&lt;head&gt;</span> <br /><br />
      <span class="text-yellow-300">&lt;body&gt;</span>: Esta etiqueta contiene el
      contenido de la página, se ubica dentro de la etiqueta
      <span class="text-yellow-300">&lt;html&gt;</span>: debajo de la etiqueta
      <span>&lt;head&gt;</span>
    </p>
    <br /><br />
    <h3 class="text-2xl font-semibold text-yellow-300 p-6">
      Etiquetas básicas de contenido
    </h3>
    <p>
      Teniendo claro la estructura principal de un html, ahora hablaremeos de las
      etiquetas de contenido, es decir lo que queremos mostrar en nuestra página o
      aplicación, estas etiquetas se colocaran dentro de la etiqueta body, solo
      especificaremos algunas pero para obtener mas informacion de las etiquetas
      puedes ver toda la documentacion en
      <a
        class="text-yellow-300 active"
        href="https://developer.mozilla.org/es/docs/Learn/HTML"
        target="_blank"
        S
        >https://developer.mozilla.org/es/docs/Learn/HTML</a
      >
      <br /><br />
      <span class="text-yellow-300">&lt;div&gt;</span>:Etiqueta contenedor de
      proposito general, no tiene un fin en especifico y se aconseja limitar su
      uso. <br /><br />
      <span class="text-yellow-300">&lt;header&gt;</span>:Etiqueta contendeor para
      encabezado de la pagina. <br /><br />
      <span class="text-yellow-300">&lt;footer&gt;</span>:Etiqueta contenedor para
      pie de pagina. <br /><br />
      <span class="text-yellow-300">&lt;h1&gt;</span>: Etiqueta de titulos y su
      derivados del 1 al 6 los cuales especifican su grado de importancia,(Se
      recomienda un unico uso de &lt;h1&gt; dado que es el grado mas alto y por
      ende unico y de mas relevancia.)
    </p>
    <br /><br />
    <h3 class="text-2xl font-semibold text-yellow-300 p-6">
      HTML Semantico y accesible
    </h3>
    <p>
      Cuando hablamos de htmls semantico nos referimos a utilizar las etiquetas
      segun su proposito definido, como vemos cada etiqueta tiene un nombre
      particular, no es solo por nombrar la etiqueta si no tambien para
      especificar el tipo de contenido que deberiamos colocar en ella. ¿Por qué es
      importante?, Html semantico no solo nos ayuda a brindar un mejor contexto
      del contenido de la aplicacion si no que tambien, lo hace mas accesible y
      mejora la optimizacion de los motores de busqueda.
    </p>
  </article>
  