<footer class="w-full flex-col  text-neutral-200 bg-neutral-600 p-8">
    <div class="flex lg:flex-row justify-evenly">
        <div class="">
            <a class="block text-md hover:pointer hover:text-yellow-400" routerLink="home"
                routerLinkActive="bg-yellow-400">Home</a>
            <a class="block text-md hover:pointer hover:text-yellow-400" routerLink="backend"
                routerLinkActive="bg-yellow-400">Backend</a>
            <a class="block text-md hover:pointer hover:text-yellow-400" routerLink="frontend"
                routerLinkActive="bg-yellow-400">Frontend</a>
            <a class="block text-md hover:pointer hover:text-yellow-400" routerLink="frameworks"
                routerLinkActive="bg-yellow-400">Frameworks</a>
        </div>
        <div class="flex">
            <a href="https://www.linkedin.com/in/miguelangel-soto-to/" target="_blank"><img
                    src="../assets/linkedin.png" /></a>
            <a href="https://github.com/Misoto36" target="_blank"><img src="../assets/github.png" /></a>
        </div>
    </div>

    <div class="flex justify-center">
        <p>Miguelangel Soto Tovar &copy;2024</p>
    </div>
</footer>