<main class="flex  justify-center bg-neutral-600 mb-6">
    <div class="flex lg:flex-row sm:flex-col  lg:justify-evenly sm:justify-center bg-cyan-900 w-4/5">
        <div class="flex items-center lg:p-12 sm:p-6 animate-fade-up animate-once">
          <h1 class="text-4xl text:center text-yellow-300 font-bold lg:mb-10 ">
            DESARROLLO BACKEND
          </h1>
        </div>
        <picture class="flex sm:justify-center">
            <img class="w-96 p-4 animate-fade-left" src="../assets/backend2.jpeg" alt="" />
        </picture>        
      </div>
</main>

<div>
 <p class="text-2xl text-neutral-600 px-12 animate-fade-up animate-once">
    El desarrollo del backend es la parte del desarrollo que se encarga de
    manejar la lógica detrás de la interfaz visible y que garantiza el correcto 
    funcionamiento de la aplicación.
    <br><br>     
  </p>
</div>

<article class="flex flex-col animate-flip-down animate-once animate-ease-in animate-normal animate-fill-forwards bg-neutral-200">

    <div class="px-12 py-6">
        <h2 class="font-bold text-3xl text-cyan-900 mb-2">Lenguajes Aplicados</h2>
       
        <div class="w-96 border-t-2 border-yellow-600"></div>
    </div>

    <div class="flex lg:flex-row sm:flex-col px-12  py-6">
        <div class="flex flex-col justify-center basis-1/3 hover:bg-neutral-100 p-2">
            <h3 class="font-semibold text-2xl text-cyan-900 text-center">C# - .Net</h3>
            <picture class="flex justify-center">
                <img class="w-48" src="../assets/csharp.png" alt="" />
            </picture>
            
            <p>
                C# es un lenguaje de programación orientado a objetos, multiparadigma y de alto nivel.
                Es un lenguaje de programación de propósito general, desarrollado por Microsoft.
                C# es el lenguaje de programación más utilizado en la actualidad, ya que se utiliza en 
                aplicaciones de escritorio, web, servidores, etc.
                <br><br>
                Se caracteriza por ser un lenguaje fuertemente tipado, permitir realizar operaciones asincronas y facilitar en manejo 
                de estructuras complejas.

                Actualmente se utiliza en la plataforma .Net y con una amplia cantidad de paquetes y librerias para generar codigo mas estructurado.
                <br><br>
            </p>
        </div>
        <div class=" basis-1/3 hover:bg-neutral-100  p-2">
            <h3 class="font-semibold text-2xl text-cyan-900  text-center">Javascript - NodeJs</h3>
            <picture class="flex justify-center">
                <img class="w-48" src="../assets/node.png" alt="" />
            </picture>
            
            <p>
                Javascript es un leguaje de programacion orientado a objetos, su propósito 
                principal esta del lado del Fronted mas sin embargo tambien se puede implementar del lado del servidor
                utilizando un entorno de ejecucion basado en este lenguaje conocido como NodeJs, el cual nos permite poder realizar 
                tareas de manera asincronas y manejar estructuras complejas, realizar conexiones con la base de datos y ejecutar distintas peticiones a la misma 
                <br><br>
            </p>
        </div>
        
        <div class=" basis-1/3 hover:bg-neutral-100  p-2">
            <h3 class="font-semibold text-2xl text-cyan-900 text-center">PHP</h3>
            <picture class="flex justify-center">
                <img class="w-48" src="../assets/php.png" alt="" />
            </picture>            
            <p>
                PHP es un lenguaje de programación de propósito general, desarrollado por   
                la empresa estadunidense de software británica PHP: Hypertext Preprocessor.
                Es ampliamente utilizado del lado del servidor para el desarrollo de aplicaciones y paginas web,
                se caracteriza por poder incrustar su codigo dentro del Html siendo ejecutables sus scripts del lado del cliente 
                aun asi manteniendo su codigo subyasente oculto para que pueda ser visto por el.
                <br><br>
                Actualmente se utiliza en conjunto con Wordpress un sistema de gestion de contenidos y ya conocido como framework por defecto
                para PHP, permitiendo crear rapidamente paginas web dinamicas.
            </p>
        </div>
        

        

    </div>
   
</article>