<section class="flex flex-col justify-center w-full ">
  <main class="flex justify-center bg-neutral-600 mb-6">
    <div class="flex bg-cyan-900 rounded-x w-4/5">
      <div class="flex flex-col p-12">
        <h1 class="text-4xl text-yellow-300 font-bold mb-10">
          TECNOLOGIAS DE DESARROLLO
        </h1>
        <p class="text-2xl text-neutral-200">
          En el mundo digital, las tecnologías de desarrollo son fundamentales
          para crear sitios web y aplicaciones interactivas. Dos conceptos clave
          en este proceso son el frontend y el backend. Permíteme explicarte
          brevemente en qué consisten...
        </p>
      </div>
      <img class="w-96 p-4" src="../assets/bg-home.jpeg" alt="" />
    </div>
  </main>



  <article class="flex px-12">
    <div class="p-4">
        <h2 class="font-bold text-3xl text-cyan-900">FRONTEND</h2>
        <div class="w-full border-t-2 border-yellow-600"></div>
        <br>
        
        <p class="text-xl text-neutral-900 ">
          El frontend se refiere a la parte visible de un sitio web o aplicación con
          la que los usuarios pueden interactuar directamente. Es como la “cara” del
          sitio, ubicada en el lado del cliente. Algunas características importantes
          del frontend son:
          <br><br>
          <span class="font-semibold text-cyan-900">Diseño visual:</span> El frontend se encarga de mostrar el diseño, los colores,
          los botones y todo lo que los usuarios ven en la pantalla.
          <br><br>
          <span class="font-semibold text-cyan-900">Interactividad:</span> También es responsable de hacer que todo funcione
          correctamente y de responder a las acciones del usuario, como hacer clic
          en un botón o desplazarse por la página.
        </p>

    </div>
    <img class="w-96 p-4" src="../assets/frontend.jpeg" alt="" />
  
  </article>

  <article class="flex px-12">
    <img class="w-96 p-4" src="../assets/backend.jpeg" alt="" />
    <div class="p-4">
        <h2 class="font-bold text-rigth text-3xl text-cyan-900">BACKEND</h2>
        <div class="w-full border-t-2 border-yellow-600"></div>
        <br>
        <p class="text-rigth text-xl text-neutral-900 ">
          El backend se refiere a la parte invisible de un sitio web o aplicación.
          Es como la “cabeza” del sitio, ubicada en el lado del servidor. Algunas
          características importantes del backend son:
          <br><br>
          <span class="font-semibold text-cyan-900">Conexión con la base de datos:</span>
           Almacena y recupera datos necesarios para
          el sitio.
          <br><br>
          <span class="font-semibold text-cyan-900">Procesamiento de formularios:</span>
           Maneja la lógica detrás de la interfaz
          visible.
          <br><br>
          <span class="font-semibold text-cyan-900"> Autenticación de usuarios: </span>
         Gestiona la seguridad del sitio.
        </p>
    </div>     
  </article>
</section>
