<main class="flex justify-center bg-neutral-600 mb-6">
  <div
    class="flex lg:flex-row sm:flex-col flex-col lg:justify-evenly justify-center bg-cyan-900 w-4/5"
  >
    <div class="flex items-center lg:p-12 sm:p-6 animate-fade-up animate-once">
      <h1 class="text-4xl text-center text-yellow-300 font-bold lg:mb-10">
        DESARROLLO FRONTEND
      </h1>
    </div>
    <picture class="flex justify-center">
      <img
        class="w-80 drop-shadow-[0_45px_45px_rgba(255,255,255,0.25)] p-4 animate-fade-left"
        src="../assets/html-css-js.png"
        alt=""
      />
    </picture>
  </div>
</main>
<div>
  <p class="text-xl text-neutral-600 px-12 animate-fade-up animate-once">
    Como ya sabemos en el desarrollo frontend se establece toda la parte visual
    de nuestra aplicación, todo con lo que el usuario interactuatua y es
    visible para el. A continuacion explicaremos las 3 tecnologias mas
    utilizadas en el frontend para desarrollo de páginas y aplicaciones web.

    <br /><br />
  </p>
</div>


<app-info-html></app-info-html>
<app-info-css></app-info-css>
<app-info-javascript></app-info-javascript>
