<article class="bg-neutral-900 text-neutral-200 p-12">
    <h2 class="text-3xl font-bold text-yellow-300 p-6">Javascript</h2>
    <p>
        Javascript es un lenguaje de programación interpretado, orientado a objetos, esecial para el desarrollo qeb
        permitiendo agregar dinamismo , interactividada y funciones complejas que permitan brindar una experiancia de usuario muy agradable.
        <br><br>
      <picture class="flex justify-center">
        <img
          class="w-48 drop-shadow-[0_45px_45px_rgba(255,255,255,0.5)]"
          src="../assets/js.png"
          alt=""
        />
      </picture>
    </p>
  
    <h3 class="text-2xl font-semibold text-yellow-300 p-6">
      Caracteristicas del lenguaje Javascript
    </h3>

    <p>
        Javascript es un lenguaje debilmente tipado dado que no es nesesario definir un tipo de variable cuando esta es declarada, asi mismo
    permite ser dinamico dado que en tiempos de ejecucion las variables puden ser reasignadas con un tipo de dato distinto.
    <br><br>
    Es un leguaje muy intuitivo, posee una estructura sencilla y facil de entender por lo cual tambien es un leguaje ideal para aquellos que apenas 
    estan empezando en el área de la programacion y el desarrollo web, ademas es un lenguaje que no necesita compilador por lo cual puedes ejecutarlo directamente desde el navegador.
    <br><br>
    Este articulo pretende brindar informacion general del lenguaje por lo cual se recomienda visiatar la documentacion oficial 
    <a class=" text-yellow-300  active" href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank" >https://developer.mozilla.org/es/docs/Web/JavaScript</a>
    <br><br>
    Recuerda que la mayoria de las bases en programacion son generales y aplica para todos los leguajes, es importante familiarizarte con la sintaxis del mismo
    y adentrarse en los fundamentos de la programación, saber identificar los algoritmos, conocer las principales sentencias de control, 
    estructuras de datos,creación de funciones y en este caso particular para el desarrollo web algo fundamental la manipulacion del DOM.
 
    </p>
    <h3 class="text-2xl font-semibold text-yellow-300 p-6">
        Document Object Model DOM
      </h3>
      <p>
        El Document Object Model (DOM) es un modelo de objetos que representa el contenido y estructura de una página web.
        <br><br>
       El DOM se interpreta como un arbol  que de cada rama se desprenden nodos, cada nodo pude hacer referencia a un elemnto 
       dentro de nuestro documento y utilizando JavaScript podemos acceder a ellos manipularlos modificar sus clases y atributos, o por otra parte podemos crear nueevos elementos,
       adecuarlos a las necesidades  para generar  esa interactividad de la que el usuario final va hacer paricipe.
       <br><br>   
       

      </p>
      <picture class="flex justify-center">
        <img
          class="lg:w-96 w-80"
          src="../assets/dom.PNG"
          alt=""
        />
      </picture>

    
  </article>
  
